.glowing-border {
    -fx-border-color: -accent-primary;
    -fx-border-width: 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;

    -fx-effect: dropshadow(gaussian, -accent-primary, 10, 0.25, 0, 0);
}