.window-border {
    -fx-background-color: transparent;
    -fx-border-color: -bg-elevated;
    -fx-border-width: 2px;
    -fx-border-radius: 16px;
    -fx-border-insets: 0;
}

.floating-title-capsule {
    -fx-background-color: -color-transparent;
    -fx-border-color: -bg-tertiary;
    -fx-border-width: 1px;

    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-padding: 8px 18px;
    -fx-alignment: CENTER;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.35),
            12,
            0.2,
            0,
            4
    );

    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.floating-title-capsule:hover {
    -fx-background-color: -color-transparent;
    -fx-border-color: -accent-primary;

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

    -fx-effect: dropshadow(
            gaussian,
            -accent-primary,
            10,
            0.25,
            0,
            2
    );
}

.floating-title-capsule .label {
    -fx-text-fill: -accent-primary;
    -fx-font-weight: bold;
}