/* ============================================
   TEXT INPUTS (BASE)
   ============================================ */

.text-area {
    -fx-background-color: -bg-primary;
    -fx-border-color: -bg-tertiary;
    -fx-border-width: 2px;
    -fx-text-fill: -accent-primary;
}

/* contenuto interno */
.text-area .content,
.text-area .viewport {
    -fx-background-color: -bg-primary;
}