.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-height: 32px;
    -fx-tab-max-height: 32px;
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-background-color: transparent;
    -fx-padding: 0 0 12px 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: -bg-secondary;
    -fx-background-radius: 8px;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-padding: 4px 16px;
}

.tab-pane .tab-header-area .headers-region {
    -fx-spacing: 16px;
}

.tab-pane .tab:selected {
    -fx-background-color: -bg-elevated;
    -fx-border-width: 0;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: -text-tertiary;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -accent-primary;
}

.tab-pane .tab:hover .tab-label {
    -fx-text-fill: -text-primary;
}

.tab-pane .text-area {
    -fx-background-color: -bg-secondary;
    -fx-text-fill: -accent-primary;
    -fx-control-inner-background: -bg-secondary;
    -fx-background-radius: 8px;
    -fx-border-width: 0 !important;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.tab-pane .text-area .content {
    -fx-background-color: -bg-secondary;
    -fx-text-fill: -accent-primary;
    -fx-border-width: 0 !important;
    -fx-border-color: transparent;
    -fx-padding: 16px;
}

.tab-pane .text-area .scroll-bar {
    -fx-opacity: 0.3;
}