.root {
    -bg-primary:   #010203;
    -bg-secondary: #111111;
    -bg-tertiary:  #222222;
    -bg-elevated:  #333333;

    -text-primary:   #ffffff;
    -text-secondary: #dcdcdc;
    -text-tertiary:  #888888;
    -text-disabled:  #444444;

    -accent-primary: #cbcbcb;
    -accent-secondary: #a9a9a9;
    -accent-tertiary: #333333;

    -color-success: #09cb09;
    -color-warning: #da9f0c;
    -color-error: #ff0059;
    -color-info:    #00bfff;

    -color-transparent: rgba(0, 0, 0, 0);

    -fx-background-color: transparent;
    -fx-font-family: "Miracode", "Courier New", monospace;
    -fx-font-size: 14px;
}