.root {
    -fx-background-color: #010203;
    -fx-font-family: "Miracode";
}

.menu-title {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-button {
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 2);
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size:20px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #333, #111);
}

.menu-button:hover {
    -fx-background-color: #444;
}
.menu-button:pressed {
    -fx-background-color: #222;
}
.menu-button > .label {
    -fx-text-fill: yellow;
}
