.button {

    /* testo */
    -fx-text-fill: #d9d9d9;

    -fx-font-family: "Consolas";
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    /* stessa dimensione */
    -fx-pref-width: 220px;
    -fx-min-width: 220px;
    -fx-max-width: 220px;

    -fx-pref-height: 45px;
    -fx-min-height: 45px;
    -fx-max-height: 45px;

    /* padding */
    -fx-padding: 8px 18px;

    /* allineamento */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;

    /* nero base */
    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 100%,
        #121212,
        #000000);

    /* bordi */
    -fx-border-color: #2a2a2a;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;

    /* ombra */
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.35),
        12,
        0.2,
        0,
        4
    );

    /* mouse */
    -fx-cursor: hand;

    /* scala iniziale */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

/* hover = grigio */

.button:hover {

    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 100%,
        #404040,
        #2c2c2c);

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

    -fx-translate-y: -1;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.45),
        16,
        0.25,
        0,
        6
    );
}

/* click = grigio azzurro */

.button:pressed {

    -fx-background-color:
        linear-gradient(from 0% 0% to 100% 100%,
        #5f7280,
        #425461);

    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;

    -fx-translate-y: 2;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.3),
        8,
        0.2,
        0,
        3
    );
}