.root {
    -fx-background-color: black;
}

/* Selettore specifico per i bottoni della griglia */
.skin-button {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #555555;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-padding: 10; /* Spazio interno tra bordo e icona */
    -fx-content-display: graphic-only; /* Forza la visualizzazione solo dell'icona */
}

.skin-button:hoer {
    -fx-background-color: #00ffcc33; /* Un tocco di colore goblin al passaggio */
    -fx-border-color: #00ffcc;
}

/* Rimuovi transizioni o scale se vedi che creano "sfocatura" durante il movimento */
.skin-button:pressed {
    -fx-background-color: #00ffcc66;
}