.game-pause-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

.pause-title {
    -fx-text-fill: -text-primary;
    -fx-font-weight: bold;
}

.pause-settings-box {
}

.pulsante-menu {
    -fx-text-fill: -accent-primary;
}

.pulsante-menu.primario {
    -fx-background-color: -accent-primary;
    -fx-text-fill: -bg-primary;
}

.pulsante-menu.primario:hover {
    -fx-background-color: -accent-secondary;
}

.pulsante-menu.primario .button-icon {
    -fx-icon-color: -bg-primary;
}

.pulsante-menu.pericolo {
    -fx-border-color: -color-error;
    -fx-text-fill: -color-error;
}

.pulsante-menu.pericolo .button-icon {
    -fx-icon-color: -color-error;
}

.button-icon {
    -fx-icon-color: -accent-primary;
}