.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

15px 5px #AC3232,
12px 6px #AC3232,
15px 6px #AC3232,
16px 6px #AC3232,
8px 7px #AC3232,
10px 7px #AC3232,
11px 7px #AC3232,
12px 7px #AC3232,
13px 7px #AC3232,
14px 7px #AC3232,
15px 7px #AC3232,
16px 7px #AC3232,
17px 7px #AC3232,
19px 7px #AC3232,
9px 8px #AC3232,
10px 8px #AC3232,
11px 8px #AC3232,
12px 8px #AC3232,
13px 8px #D95763,
14px 8px #DF7126,
15px 8px #DF7126,
16px 8px #D95763,
17px 8px #AC3232,
18px 8px #AC3232,
19px 8px #AC3232,
8px 9px #AC3232,
9px 9px #AC3232,
10px 9px #AC3232,
11px 9px #D95763,
12px 9px #DF7126,
13px 9px #D9A066,
14px 9px #D9A066,
15px 9px #D9A066,
16px 9px #D9A066,
17px 9px #DF7126,
18px 9px #AC3232,
19px 9px #AC3232,
20px 9px #AC3232,
22px 9px #AC3232,
5px 10px #AC3232,
7px 10px #AC3232,
8px 10px #AC3232,
9px 10px #DF7126,
10px 10px #DF7126,
11px 10px #D9A066,
12px 10px #EEC39A,
13px 10px #EEC39A,
14px 10px #FBF236,
15px 10px #FBF236,
16px 10px #FBF236,
17px 10px #EEC39A,
18px 10px #D9A066,
19px 10px #DF7126,
20px 10px #AC3232,
21px 10px #AC3232,
22px 10px #AC3232,
23px 10px #AC3232,
6px 11px #AC3232,
7px 11px #AC3232,
8px 11px #AC3232,
9px 11px #DF7126,
10px 11px #EEC39A,
11px 11px #FBF236,
12px 11px #FBF236,
13px 11px #FBF236,
14px 11px #FBF236,
15px 11px #FBF236,
16px 11px #FBF236,
17px 11px #FBF236,
18px 11px #FBF236,
19px 11px #D9A066,
20px 11px #DF7126,
21px 11px #D95763,
22px 11px #AC3232,
6px 12px #AC3232,
7px 12px #AC3232,
8px 12px #DF7126,
9px 12px #D9A066,
10px 12px #FBF236,
11px 12px #FBF236,
12px 12px #FBF236,
13px 12px #FBF236,
14px 12px #FBF236,
15px 12px #FBF236,
16px 12px #FBF236,
17px 12px #FBF236,
18px 12px #FBF236,
19px 12px #FBF236,
20px 12px #EEC39A,
21px 12px #DF7126,
22px 12px #AC3232,
23px 12px #AC3232,
5px 13px #AC3232,
6px 13px #AC3232,
7px 13px #AC3232,
8px 13px #D9A066,
9px 13px #FBF236,
10px 13px #FBF236,
11px 13px #FBF236,
12px 13px #FBF236,
13px 13px #FBF236,
14px 13px #FBF236,
15px 13px #FBF236,
16px 13px #FBF236,
17px 13px #FBF236,
18px 13px #FBF236,
19px 13px #FBF236,
20px 13px #EEC39A,
21px 13px #D9A066,
22px 13px #DF7126,
23px 13px #AC3232,
6px 14px #AC3232,
7px 14px #DF7126,
8px 14px #EEC39A,
9px 14px #FBF236,
10px 14px #FBF236,
11px 14px #AC3232,
12px 14px #FBF236,
13px 14px #FBF236,
14px 14px #FBF236,
15px 14px #FBF236,
16px 14px #FBF236,
17px 14px #FBF236,
18px 14px #FBF236,
19px 14px #FBF236,
20px 14px #FBF236,
21px 14px #EEC39A,
22px 14px #D9A066,
23px 14px #AC3232,
24px 14px #AC3232,
25px 14px #AC3232,
5px 15px #AC3232,
6px 15px #AC3232,
7px 15px #D9A066,
8px 15px #FBF236,
9px 15px #FBF236,
10px 15px #AC3232,
11px 15px #AC3232,
12px 15px #AC3232,
13px 15px #FBF236,
14px 15px #FBF236,
15px 15px #FBF236,
16px 15px #FBF236,
17px 15px #FBF236,
18px 15px #AC3232,
19px 15px #FBF236,
20px 15px #FBF236,
21px 15px #FBF236,
22px 15px #D9A066,
23px 15px #AC3232,
24px 15px #AC3232,
5px 16px #AC3232,
6px 16px #AC3232,
7px 16px #D9A066,
8px 16px #FBF236,
9px 16px #AC3232,
10px 16px #FBF236,
11px 16px #AC3232,
12px 16px #FBF236,
13px 16px #AC3232,
14px 16px #FBF236,
15px 16px #FBF236,
16px 16px #FBF236,
17px 16px #AC3232,
18px 16px #AC3232,
19px 16px #AC3232,
20px 16px #FBF236,
21px 16px #FBF236,
22px 16px #D9A066,
23px 16px #D9A066,
24px 16px #AC3232,
6px 17px #AC3232,
7px 17px #D9A066,
8px 17px #FBF236,
9px 17px #FBF236,
10px 17px #AC3232,
11px 17px #AC3232,
12px 17px #AC3232,
13px 17px #FBF236,
14px 17px #FBF236,
15px 17px #FBF236,
16px 17px #AC3232,
17px 17px #FBF236,
18px 17px #AC3232,
19px 17px #FBF236,
20px 17px #AC3232,
21px 17px #FBF236,
22px 17px #D9A066,
23px 17px #D9A066,
24px 17px #AC3232,
5px 18px #AC3232,
6px 18px #AC3232,
7px 18px #DF7126,
8px 18px #EEC39A,
9px 18px #FBF236,
10px 18px #FBF236,
11px 18px #AC3232,
12px 18px #FBF236,
13px 18px #FBF236,
14px 18px #FBF236,
15px 18px #FBF236,
16px 18px #FBF236,
17px 18px #AC3232,
18px 18px #AC3232,
19px 18px #AC3232,
20px 18px #FBF236,
21px 18px #FBF236,
22px 18px #D9A066,
23px 18px #DF7126,
24px 18px #AC3232,
6px 19px #AC3232,
7px 19px #DF7126,
8px 19px #D9A066,
9px 19px #FBF236,
10px 19px #FBF236,
11px 19px #FBF236,
12px 19px #FBF236,
13px 19px #FBF236,
14px 19px #FBF236,
15px 19px #FBF236,
16px 19px #FBF236,
17px 19px #FBF236,
18px 19px #AC3232,
19px 19px #FBF236,
20px 19px #FBF236,
21px 19px #FBF236,
22px 19px #D9A066,
23px 19px #AC3232,
24px 19px #AC3232,
25px 19px #AC3232,
6px 20px #AC3232,
7px 20px #AC3232,
8px 20px #D9A066,
9px 20px #FBF236,
10px 20px #FBF236,
11px 20px #FBF236,
12px 20px #FBF236,
13px 20px #FBF236,
14px 20px #FBF236,
15px 20px #FBF236,
16px 20px #FBF236,
17px 20px #FBF236,
18px 20px #FBF236,
19px 20px #FBF236,
20px 20px #FBF236,
21px 20px #EEC39A,
22px 20px #AC3232,
23px 20px #AC3232,
7px 21px #AC3232,
8px 21px #D9A066,
9px 21px #EEC39A,
10px 21px #FBF236,
11px 21px #FBF236,
12px 21px #FBF236,
13px 21px #FBF236,
14px 21px #FBF236,
15px 21px #FBF236,
16px 21px #FBF236,
17px 21px #FBF236,
18px 21px #FBF236,
19px 21px #FBF236,
20px 21px #FBF236,
21px 21px #D9A066,
22px 21px #AC3232,
23px 21px #AC3232,
7px 22px #AC3232,
8px 22px #AC3232,
9px 22px #EEC39A,
10px 22px #FBF236,
11px 22px #FBF236,
12px 22px #FBF236,
13px 22px #FBF236,
14px 22px #FBF236,
15px 22px #FBF236,
16px 22px #FBF236,
17px 22px #FBF236,
18px 22px #FBF236,
19px 22px #FBF236,
20px 22px #EEC39A,
21px 22px #AC3232,
22px 22px #AC3232,
8px 23px #AC3232,
9px 23px #AC3232,
10px 23px #EEC39A,
11px 23px #FBF236,
12px 23px #FBF236,
13px 23px #FBF236,
14px 23px #FBF236,
15px 23px #FBF236,
16px 23px #FBF236,
17px 23px #FBF236,
18px 23px #FBF236,
19px 23px #EEC39A,
20px 23px #D9A066,
21px 23px #AC3232,
9px 24px #AC3232,
10px 24px #AC3232,
11px 24px #AC3232,
12px 24px #EEC39A,
13px 24px #FBF236,
14px 24px #FBF236,
15px 24px #FBF236,
16px 24px #FBF236,
17px 24px #EEC39A,
18px 24px #D9A066,
19px 24px #AC3232,
20px 24px #AC3232,
21px 24px #AC3232,
22px 24px #AC3232,
9px 25px #AC3232,
11px 25px #AC3232,
12px 25px #AC3232,
13px 25px #AC3232,
14px 25px #D9A066,
15px 25px #D9A066,
16px 25px #D9A066,
17px 25px #AC3232,
18px 25px #AC3232,
19px 25px #AC3232,
20px 25px #AC3232,
13px 26px #AC3232,
14px 26px #AC3232,
15px 26px #AC3232,
16px 26px #AC3232,
17px 26px #AC3232,
16px 27px #AC3232;
}
